body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  position: relative;
  /* padding: 0;
background-color: rgb(39, 37, 37); */
  color: white;
  /* font-family: "Bebas Neue"; */
 font-family: sans-serif;
  color: black;
}

/* image design 
 */
.bgicon{

  width: 100%;
  height: 15vh;
box-shadow: 3px 3px 5px purple;
border-radius: 30px;
display: flex;
justify-content: start;
align-items: center;
}
 .bgicon img{
width: 50%;
max-width: 300px;
filter: brightness(5%)


 }

nav a {
  text-decoration: none;
  padding: 4px;
  border: 3px solid #e6e6ff;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid black;
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;

  overflow: auto;
  position: sticky;

  /* background-color: #0d1117; */
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  
}
/*  */
.instructions {
  line-height: 35px;
  padding: 20px;
  letter-spacing: 1px;
  border-left: 5px solid purple;
}
.instructions header{

color: purple;
}

nav a:hover {
  color: purple;
  box-shadow: 2px 2px 2px black;
}

.welcome{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  
}
.welcome span{
  font-size: 6rem;
  color: purple;
}



/* footer and links design  */
footer{
border-top: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
height: 40px;
align-items: last baseline;
  gap: 15px;
  position:  relative;
  bottom: 0;
}
footer img{
  width: 24px;
}
@media(max-width: 768px){
  .bgicon{
    height: 13vh;
  }
}