body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  position: relative;
  /* padding: 0;
background-color: rgb(39, 37, 37); */
  color: white;
  /* font-family: "Bebas Neue"; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: black;
}
.main-head {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0px;
  letter-spacing: 7px;
  position: relative;
  color: white;
}
.main-head img {
  max-width: 400px;
  width: 80%;
}
.main-head::before{
  content: "";
  filter: blur(1.5px);
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: -1;

  background-image: url("../Thumbnails/FindTutorials-removebg-preview.png");
  background-size: cover;

   background-position: center;
    background-repeat: no-repeat;
      border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
.mainname {
  text-align: center;
  font-size: 2rem;

  font-weight: 500;
}
.smalltxt {
  text-align: center;
  font-size: 12px;
}
nav a {
  text-decoration: none;
  padding: 4px;
  border: 3px solid #e6e6ff;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid black;
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;

  overflow: auto;
  position: sticky;

  /* background-color: #0d1117; */
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
}
section header {
  font-size: 2rem;
  /* padding: 20px; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

section header p {
  font-size: 1.6rem;
  background-color: red;
  display: inline-block;
}
.msg {
  font-size: 2rem;
}
main p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-left: 10px solid rgb(181, 29, 29);
  padding: 10px;
}
.instructions {
  padding: 20px;
  letter-spacing: 1px;
  border-left: 10px solid #00d100;
}
/* Scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Scrollbar buttons */
::-webkit-scrollbar-button {
  background-color: #555;
  border-radius: 3px;
}
nav a:hover {
  color: purple;
  box-shadow: 2px 2px 2px black;
}
