body {
  height: 150vh;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue";
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(360deg, lightblue, rgb(64, 64, 171)); */

  inset: 0;
  filter: blur(200px);
  z-index: -1;
}
main {
  position: absolute;
  height: 100%;
  width: 100%;
  /* border: 1px solid rgb(166, 160, 160); */
  display: flex;
  flex-direction: row;

  gap: 0px;
}
img {
  max-width: 70%;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgb(20, 10, 10);
  display: block;
}
img:hover {
  transform: scale(1.08);
}
ul li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  width: 100%;
}

.click {
  color: #0000d1;
}
.click:hover {
  text-decoration: underline;
  color: #000047;
}
a {
  text-decoration: none;
  text-align: center;
}
.heading {
  padding: 5px;
  margin-left: 20px;
}
h3::before {
  content: "";
  position: absolute;
  inset: 0;
  display: inline-block;
  z-index: -1;
  background-color: #dbdbdb;
  opacity: 40%;
}
h3 {
  text-transform: uppercase;
  padding: 10px;
  position: relative;

  z-index: 1;
  letter-spacing: 1.2px;
}

/* ul for calculus  */

.chapter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.calculus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.formula {
  /* width: 40%; */
  padding: 20px;
  text-align: center;
  width: 100%;
}
/* for list of formula section  */
.formula-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h4 {
  padding: 0;
  text-align: center;
}

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
