.list .title{
  font-size: 0.9rem;
text-align: center;
padding: 5px;
background-color: purple;
color: white;
width: 70%;
margin: auto;
letter-spacing: 1px;
font-weight: 600;
}

/* // channel name  */

.owner{
  padding: 5px;
  font-size: 0.8em;

display: block;
 letter-spacing: 1px;
  position: relative;
  display: flex;
  flex-direction: row;
font-weight: 600;

  gap: 5px;

  


}
.owner::before{

  content: "";
  display: inline-block;
  background-image: url("../Thumbnails/youtube.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 35px;

}

/* //link click me  */
.clickme{
  font-size: 1.1em;
text-decoration: none;
  margin: 5px;
display: block;
 

}

.clickme:hover{
  text-decoration: underline;
  color: blue;
}
#thumbnail{
  width: 350px;
  max-width: 60%;

align-self: center;
transition: transform 0.4s ease;
border-radius: 10px;
box-shadow: 2px 8px 10px gray;
 
}
#thumbnail:hover{
  transform: scale(1.08);

}

#chapters .list{
  display: flex;
  flex-direction: column;




}

#chapters{
  display: flex;
  flex-direction: column;
gap: 10px;

width: 100%;
flex: 3;
}

/* chapter button desigh */

.subj-btn {
  display: grid;
  /* '1fr' ensures columns expand/contract to fill space equally */
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
  gap: 10px;
  place-content: center;
  border: 2px solid lightgray;
  padding: 10px; /* Increased padding for better internal spacing */
  width: 90%;    /* Use more of the screen width */
  border-radius: 5px;
  box-shadow: 2px 9px 10px gray;
  margin: auto;
}
.chapbtn{
  box-sizing: border-box;
  padding: 5px;
border: 1px solid black;
letter-spacing: 0.5px;
border-radius: 5px;
  font-size: 0.7rem;
  background-color: white;

  width: 100%;
 

}
.chapbtn:hover, ch{
  background-color:  #A934BD;
font-weight: 500;
color: white;

}
.chapbtn:focus{
  background-color: #800080;
  font-weight: 500;
  color: white;
}

body{
  display: flex;
  flex-direction: column;
gap: 10px;
font-family: sans-serif;
}
*{

  padding: 0;
  margin: 0;
}
/* main design 
 */

 main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
gap: 0px;
 }
.line{
  color: black;
  width: 80%;
  align-self: center;

}
.formula{
  flex: 1;

  border-left: 2px solid gray;
  padding: 25px;
  font-size: 0.9em;
}

/* formula head design 
 */

 .formula-head{
  font-size: 18px;
  padding: 4px;
  background-color: purple;
  color: white;
  text-align: center;
 }
 /* choose the chapter design  */
.select{
font-size: 1.2em;
letter-spacing: 2px;
padding: 5px;
color: purple;
}


/* nav design  */

#home ul{
  list-style: none;
  position: relative;
  top: 0;
  padding: 5px;

}
#home ul img{
  width: 20px;
}

#bg{
position: absolute;
  align-self: center;
  width: 90%;
  height: 30%;
  border: 2px solid red;
z-index: -1;
filter: blur(25px);

}