.list .title{
  font-size: 1.2rem;
text-align: center;
padding: 10px;
 color: purple;
}

/* // channel name  */

.owner{
  padding: 5px;
  font-size: 0.9em;

display: block;
 letter-spacing: 1px;
  position: relative;
  display: flex;
  flex-direction: row;
font-weight: 600;

  gap: 5px;

  


}
.owner::before{

  content: "";
  display: inline-block;
  background-image: url("../Thumbnails/youtube.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 35px;

}

/* //link click me  */
.clickme{
  font-size: 1em;
  text-decoration: none;
  margin: 5px;

}
.clickme:hover{
  text-decoration: underline;
  color: blue;
}
#thumbnail{
  width: 400px;
  max-width: 80%;
border: 2px solid black;
align-self: center;
transition: transform 0.4s ease;
border-radius: 5px;
box-shadow: 2px 5px 5px gray;
 
}
#thumbnail:hover{
  transform: scale(1.08);

}

#chapters .list{
  display: flex;
  flex-direction: column;
  gap: 10px;

 

}

#chapters{
  display: flex;
  flex-direction: column;
gap: 10px;

width: 100%;
flex: 3;
}

/* chapter button desigh */

.subj-btn{

    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  gap: 10px;
place-content: center;
  border: 2px solid lightgray;
padding: 10px;
width: 90%;
border-radius: 5px;
box-shadow: 2px 9px 10px gray;
margin: auto;
  
}
.chapbtn{
  box-sizing: border-box;
  padding: 6px;
border: 1px solid black;
letter-spacing: 0.5px;
border-radius: 5px;
  font-size: 0.7rem;
  background-color: white;
  
 

}
.chapbtn:hover, ch{
  background-color: #c885c8;
font-weight: 500;

}
.chapbtn:focus{
  background-color: #FF5CFF;
  font-weight: 500;
}

body{
  display: flex;
  flex-direction: column;
gap: 20px;
font-family: sans-serif;

}
*{
  padding: 0;
  margin: 0;
}
/* main design 
 */

 main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
gap: 10px;
 }
.line{
  color: lightgray;
  width: 80%;

}
.formula{
  flex: 1;

  border-left: 2px solid gray;
  padding: 25px;
  font-size: 0.9em;
}

/* formula head design 
 */

 .formula-head{
  font-size: 18px;
 }
 /* choose the chapter design  */
.select{
font-size: 1.2em;
letter-spacing: 2px;
padding: 5px;
color: purple;
}


/* nav design  */

#home ul{
  list-style: none;
  position: relative;
  top: 0;
  padding: 5px;
}
#home ul img{
  width: 20px;
}